<ul id="cruise-bod-list-group">
	  {{#sailing_options}}
    <li>
        
        <span>
            <input class="cruiseI" id="{{{sailing_price}}}{{@index}}" type="radio" name="article-{{../cruise_line_id}}" value="{{{sailing_price}}}" />
      
      {{sailing_date}}
            
        </span>

        <span id="cruise-bod-cruise-price-style" id="cruise-bod-cruise-price-1"><span>$</span> 
  {{sailing_price}}
        </span>
    </li>

  		{{/sailing_options}}

</ul>
